<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Kalendarz</title>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

</head>
<body>

    <h1>Kalendarz</h1>

    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/calendar/events/',

            fixedWeekCount: false,
            showNonCurrentDates: false
        });

            calendar.render();
        });
    </script>

</body>
</html>
