{% extends 'ToDo/base.html' %}
{% load static %}

{% block title %}Dashboard — Habitly{% endblock %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Right side -->

    <main class="app-content" data-csrf="{{ csrf_token }}">
        <div class="page-header">
            <div>
                <p class="header-date">{{ today|date:"l, j E" }}</p>
                <h1 class="header-title">Witaj, <span class="text-gradient">{{ request.user.username }}</span></h1>
            </div>
        </div>

        <div class="stats-grid">
            <div class="glass stat-card top-bloks progress-block">
                <div>
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
                <p>{{ tasks_total }}</p>
                <p>Postęp zadań</p>
            </div>

            <div class="glass stat-card top-bloks xp-block">
                <div>
                    <i class="fa-solid fa-bolt"></i>
                </div>
                <p>{{ profile.xp }}</p>
                <p>XP</p>
            </div>

            <div class="glass stat-card top-bloks rank-block">
                <div>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>{{ rank_name }}</p>
                <p>Ranga</p>
            </div>

            <div class="glass stat-card top-bloks best-streak-block">
                <div>
                    <i class="fa-solid fa-fire"></i>
                </div>
                <p>{{ longest_streak }}</p>
                <p>Najlepszy streak</p>
            </div>
        </div>

        <section class="progress-bar">

            <div class="progress-bar-wrap glass stat-card">
                <div class="progress-bar-header">
                    <div class="progress-bar-label">
                        <h2>Postęp dzisiejszego dnia</h2>
                        <span id="day-message">
                            {% if day_progress == 100 %}🎉 Wszystko zrobione!
                            {% elif day_progress >= 50 %}💪 Dobra robota!
                            {% elif tasks_total == 0 %}📋 Dodaj pierwsze zadanie
                            {% else %}🚀 Do dzieła!{% endif %}
                        </span>
                    </div>
                    <span class="progress-bar-count">{{ tasks_done }}/{{ tasks_total }}</span>
                </div>
                <div class="progress-bar-bg">
                    <div class="progress-bar-fill {% if day_progress == 100 %}progress-bar-complete{% endif %}"
                         data-width="{{ day_progress }}" style="width: 0%"></div>
                </div>
                <span class="progress-bar-pct" id="day-pct-text" data-progress="{{ day_progress }}">0%</span>
            </div>

        </section>



        <section class="tasks-list">
            <h1>Zadania na dziś</h1>
             <ul class="list-group">
                {% for task in tasks %}
                <li class="my-task glass task-{{ task.task_type|lower }} {% if task.is_done_today %}my-task--done{% endif %}">
                    <div class="task-left">
                        <button class="task-checkbox {% if task.is_done_today %}checked{% endif %}"
                                onclick="toggleTask({{ task.id }}, this)">
                            {% if task.is_done_today %}✓{% endif %}
                        </button>
                        {% if task.is_done_today %}
                            <s class="task-title done">{{ task.title }}</s>
                        {% else %}
                            <span class="task-title">{{ task.title }}</span>
                        {% endif %}

                        <span class="badge badge-type">{{ task.get_task_type_display }}</span>
                        {% if task.task_type == 'WEEKLY' %}
                            <span class="badge badge-type badge-weekly-progress">Ukończono: {{ task.weekly_progress_count }} z {{ task.weekly_target }}</span>
                        {% endif %}


                    </div>
                    <div class="task-right">
                        {% if task.task_type == 'ONCE' %}
                            <span class="task-xp">+10 XP</span>
                        {% elif task.task_type == 'DAILY' %}
                            <span class="task-xp">+15 XP</span>
                            <span class="task-streak">🔥 {{ task.streak }}</span>
                        {% elif task.task_type == 'WEEKLY' %}
                            <span class="task-xp">+25 XP</span>
                            <span class="task-streak">🔥 {{ task.weekly_streak }}</span>
                        {% endif %}
                    </div>
                    {% empty %}
                <li class="task-empty">Brak zadań na dziś 🙃</li>
                {% endfor %}
            </ul>
        </section>




    </main>
{% endblock %}
